@font-face {
  font-family: 'Cute Notes';
  font-weight: 400;
  src: local('Cute Notes'), url(./../fonts/20780.ttf) format('truetype');
}

body {
  background: url("./../img/back.jpg") no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Cute Notes', arial;
  font-size: 40px;
  text-transform: uppercase;
  color: ivory;
}

img {
  height: 60vh;
  max-width: 100%;
}

.container {
  max-width: 90%;
  margin-top: 80px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  padding: 10px 50px;
  text-transform: uppercase;
}

@media (max-width: 640px) {
  body {
    background-size: auto;
    background-position: center;
  }

  .container {
    margin-top: 30px;
  }

  h1 {
    font-size: 30px;
  }

  .button {
    margin-top: 1.5rem;
  }
}
